<footer class="footer">
  <div class="container">
    <div class="made-with" data-toggle="modal" data-target="#bs-modal-video-cats">
      <span>feito com <img src="/assets/images/heart.svg"> por <a href="https://github.com/agezao" target="_blank">Gabriel Rodrigues</a></span>
    </div>

    <div class="footer-navigation hidden-xs">
      <nav class="col-md-3 col-lg-2">
        <ul>
          <li><h4>Sobre</h4></li>
          <li><a href="https://br.linkedin.com/in/gabrielrcosta" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/Agezao" target="_blank">Github</a></li>
          <li><a href="http://stackoverflow.com/users/4100067/gabriel-age" target="_blank">Stack Overflow</a></li>
          <li><a href="https://www.facebook.com/agezao" target="_blank">Facebook</a></li>
        </ul>
      </nav>
    </div> 
  </div>
</footer>