.footer {
  background-color: #003448;
  margin: 25px 0 0 0;
  padding: 55px 0 40px 0; 

  .made-with {
    float: left;
    width: 430px;
    cursor: pointer; 

    span {
      font-size: 16px;
      color: #808080;
      letter-spacing: 0.4px;
      float: left;
      display: block;
      width: 430px;
      padding: 7px 10px 0 15px;
      margin: 4px 0 35px 0; 
      
      img {
        margin-top: 3px;
        display: inline-block;
      }
    } 

    .logo-footer {
      float: left; 
      max-width: 35px;
      height: auto;
    }
  }

  address {
    float: right;
    padding-top: 5px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.4px; 
  }

  .footer-navigation {
    border-top: 1px solid #395269;
    clear: both; 
    
    nav {
      float: right;
      padding-top: 30px; 

      ul {
        margin: 0;
        padding: 0; 
        
        li {
          list-style: none;
          line-height: 24px; 
          list-style: none;
        
          h4 {
            text-transform: uppercase;
            color: #888;
            font-size: 14px; 
          }
          a {
            font-size: 14px;
            color: #f4f4f4; 
          }
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .footer {
    .made-with {
      width: 100%;

      span {
        width: 100%;
      }
    }
  }

}