$text-color: #212121;
$body-bg: #60338e;
$primary: #393939;
$primary-light: #565656;
$primary-dark: #252525;

button.btn.btn-default {
  font-size: 16px;
  color: #fff !important;
  background: $body-bg;
  padding: 10px 23px;
  border-color: #fff;

  &:hover {
    font-size: 16px;
    color: #fff !important;
    background: #54217c;
    padding: 10px 23px;
    border-color: #fff;
  }
}

.whitebox {
  width: 100vw;
  height: 35vh;
  position: fixed;
  z-index: 0;
  background: #fff;
  top: 0;
  left: 0;
}

login {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: $body-bg;
}

.auth-block {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  background-color:#fff;//F0F3F4;
  color: $text-color;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0px 0px 75px -27px rgba(102,102,102,1);
  -moz-box-shadow: 0px 0px 75px -27px rgba(102,102,102,1);
  box-shadow: 0px 0px 75px -27px rgba(102,102,102,1);

  .auth-menu {
    width: 100%;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      background: #e9e9e9;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      li {
        width: calc(50% - 3px);
        text-align: center;
        padding: 23px 0;
        display: inline-block;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;

        a{
          text-decoration: none;
          font-size: 20px;
          color: #555;
          font-family: Roboto, sans-serif;

          i {
            font-size: 24px;
            color: #555;
            margin-right: 5px;
          }
        }
      }
      li.active {
        background: #fff;
      }
    }
  }

  .auth-action {
    padding: 32px;

    h1 {
      font-weight: lighter;
      margin: 0 0 5px 0;
      text-align: left;
    }
    p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
      outline: none;
      transition: all 0.2s ease;
      text-align: left;
      color: $primary-light;
      cursor: pointer;

      &:hover {
        color: $primary-dark;
      }
    }

    input {
      margin: 5px 0;
    }

    .control-label {
      padding-top: 11px;
      font-size: 14px;
      padding-right: 0;
      color: $text-color;
    }
  }

  &[action="login"] {
    .auth-menu ul li:first-child {
      background: #fff;
    }

    .auth-action[login] { display: inherit; }
    .auth-action[signup] { display: none; }
  }
  &[action="signup"] {
    .auth-menu ul li:last-child {
      background: #fff;
    }

    .auth-action[login] { display: none; }
    .auth-action[signup] { display: inherit; }
  }
}

.btn-auth {
  color: $primary-dark !important;
}

@media screen and (max-width: 920px) {
  
  .auth-menu li {
    width: calc(100% - 3px);
  }

  .auth-block {
    margin: 0 auto 40px auto;
    width: 100vw;
    overflow: hidden;

    .auth-action {
      padding: 32px 16px;
      width: 100vw;
    }
  }

}
