<div class="whitebox"></div>
<div class="auth-block" [attr.action]="currentAction"> 
  <div class="auth-menu">
    <ul>
      <li (click)="changeAction('login')"><a><i class="ion-locked"></i> Entrar</a></li>
      <li (click)="changeAction('signup')"><a><i class="ion-person-add"></i> Cadastrar</a></li>
    </ul>
  </div>
  <div class="auth-action" login>
    <h1>Login</h1>
    <a class="auth-link" (click)="changeAction('signup')">Não tem uma conta? Cadastre-se!</a>

    <form class="form-horizontal">
        <label id="errorMessage">{{errorMessage}}</label>

        <input type="email" class="form-control" id="email" placeholder="Email" [value]="vm.email" (input)="vm.email = $event.target.value">

        <input type="password" class="form-control" id="password" placeholder="Senha" [value]="vm.password" (input)="vm.password = $event.target.value">

        <button type="button" id="loginBtn" class="btn btn-default btn-auth" (click)="login()">{{ buttonLabels.login }}</button>
    </form>
  </div>
  <div class="auth-action" signup>
    <h1>Cadastro</h1> 
    <a class="auth-link" (click)="changeAction('login')">Já tem uma conta? Entrar!</a>

    <form class="form-horizontal">
        <label id="errorMessage">{{errorMessage}}</label>

        <input type="text" class="form-control" id="name" placeholder="Nome Completo" [value]="vm.name" (input)="vm.name = $event.target.value">

        <input type="email" class="form-control" id="email" placeholder="Email" [value]="vm.email" (input)="vm.email = $event.target.value">

        <input type="password" class="form-control" id="password" placeholder="Senha" [value]="vm.password" (input)="vm.password = $event.target.value">

        <button type="button" id="registerBtn" class="btn btn-default btn-auth" (click)="signup()">{{ buttonLabels.signup }}</button>
    </form>
  </div>
</div>