<nav class="navbar" [class.min]="!isTopbarExpanded" (window:scroll)="onScroll($event)">
    <div class="nav navbar-nav pd-0">
        <a class="nav-menu-trigger ion-navicon" (click)="menuToggle()">
            Menu
        </a>
        <div class="nav-menu">
            <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item nav-link">
                Home
            </a>
            <a (click)="logout()" class="nav-item nav-link">
                Sair
            </a>
        </div>
    </div>
    <span class="greetings">{{ loggedUser.name ? 'Olá, ' + loggedUser.name : '' }}</span>
</nav>