$topbar-height:     45px;
$topbar-height-min: 35px;
$topbar-color: #54217c;

.navbar {
	background: $topbar-color;
	border-radius: 0;
	color: #fff;
	width: 100%;
	text-align: right;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	max-height: calc($topbar-height + 1rem);

	transition: all .45s;
	-webkit-transition: all .45s;

	* {
		transition: all .45s;
		-webkit-transition: all .45s;
	}

	.navbar-brand {
		img {
			height: $topbar-height;
			width: auto;
		}
	}

	.navbar-search {
		button.search {
	        font-size: 18px;
		    padding: 2px 0 0 0;
		    margin: 0px 0 0 -30px;
		}

		input {
			width: 60%;
			max-width: 450px;
		    padding: 13px 45px 13px 16px;
		    font-size: 14px;
		}
	}

	.navbar-nav {
		overflow: hidden;
	    height: 100%;
	    display: inline-block;
	    float: left;
	    color: #fff;
        padding: 0 0 0 30px;

	    .nav-menu-trigger {
    	    height: $topbar-height;
			line-height: $topbar-height;
			display: inline-block;
			color: #fff;
			font-size: 18px;
			cursor: pointer;
			text-decoration: none;
			transition: none;
		    -webkit-transition: none;

			&:before {
			    font-size: 32px;
			    float: left;
			    margin: 7px 7px 8px 8px;
			}

			&:hover {
				&:before {
				    content: "\F38B"; // This is gato
			        font-size: 27px;
				    margin: 9px 7px 8px 8px;
				}
			}
	    }

	    .nav-menu {
	    	display: none;
    	    position: absolute;
		    z-index: 999;
		    width: 270px;
		    margin: 20px 0 0 0;
		    background: #fff;
	        border-radius: 5px;
	        padding: 5px 0 15px 0;

	        -webkit-box-shadow: 0px 0px 22px 0px rgba(102,102,102,0.8);
			-moz-box-shadow: 0px 0px 22px 0px rgba(102,102,102,0.8);
			box-shadow: 0px 0px 22px 0px rgba(102,102,102,0.8);

	        .nav-link {
	            color: #00acee;
			    width: calc(100% - 26px);
			    text-align: left;
			    margin: 0px 13px 0px 13px;
		        border-bottom: 1px solid rgba(50,50,50,.2);
			    padding: 8px 12px 8px 9px;
			    cursor: pointer;

			    &:last-child {
		    		border-bottom: none;
			    }

			    &:hover {
		    	    background: rgba(200,200,200,.2);
			    }
		    }

		    &:before {
		    	content: "";
			    width: 0px;
			    height: 0px;
			    border-left: 11px solid transparent;
			    border-right: 11px solid transparent;
			    border-bottom: 11px solid #fff;
			    position: absolute;
			    left: 0;
			    margin: -14px 0 0 25px;
		    }
	    }

	    &[active] {
	    	.nav-menu-trigger:before {
		        content: "\F2D7"; // This is gato
		    }

		    .nav-menu {
		    	display: inherit;
		    }
	    }
	}

	.greetings {
	    font-size: 14px;
	    font-weight: lighter;
	    line-height: $topbar-height;
	    display: inline-block
	}

	&.min {
		max-height: calc($topbar-height-min + 1rem);

	    .navbar-brand {
			img {
				height: $topbar-height-min;
				width: auto;
			}
		}

		.navbar-nav {

		    .nav-menu-trigger {
	    	    height: $topbar-height-min;
				line-height: $topbar-height-min;

				&:before {
				    margin: 1px 7px 1px 8px;
				}

				&:hover {
					&:before {
					    margin: 4px 7px 4px 8px;
					}
				}
		    }
		}

		.greetings {
		    font-size: 14px;
		    font-weight: lighter;
		    line-height: $topbar-height-min;
		    display: inline-block
		}
	}
}

@media screen and (max-width: 920px) {
  .navbar .navbar-nav {
    padding: 0 0 0 5px;
  }

  .navbar .nav-menu {
  	width: calc(100vw - 6px) !important;
    left: 3px;
  }

}