@import 'product';

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
	font-family: 'Open Sans', sans-serif;
}

/// Spacing fixes

.pd-0 {
	padding: 0;
}

.pd-5 {
	padding: 5px;
}

.pd-10 {
	padding: 10px;
}

.pd-20 {
	padding: 20px;
}

.ma-0 {
	margin: 0;
}

.ma-5 {
	margin: 5px;
}

.ma-10 {
	margin: 10px;
}

.ma-20 {
	margin: 20px;
}



/// General Styling

.center {
	display: block;
	margin: 0 auto;
}

button {
    display: inline-block;
    margin: 0;
    border: none;
    padding: 11px 16px;
    color: #333;
    font-size: 16px;
    letter-spacing: -1px;
    cursor: pointer;

    &.search {
        font-size: 32px;
	    background: transparent;
	    width: auto;
	    height: auto;
	    padding: 2px 0 0 0;
	    margin: 0px 0 0 -50px;
	    display: inline-block;
	    position: absolute;
    }
}

input {
    border: none;
    padding: 13px 16px 13px 16px;
    color: #333;
    font-size: 18px;
    letter-spacing: -1px;
    display: inline-block;
}