.product-tile {
    width: calc(25% - 30px);
    display: inline-block;
    margin: 20px 10px;
    text-align: center;
    position: relative;
    vertical-align: top;
    min-height: 361px;
    height: auto;
    max-height: 430px;
    padding: 0 0 66px 0;

    > img {
	    max-width: 200px;
	    height: 200px;
    	width: auto;
    	display: block;
	    margin: 0 auto;
    }

    > a {
	    width: 100%;
		display: block;
		color: #333;
		font-size: 17px;
		font-weight: 600;
    	max-width: 300px;
    	margin: 10px auto;
    }

    .price {
	    padding: 15px 0;
        background: #e8e8e8;
        border-bottom-left-radius: 10px;
    	border-bottom-right-radius: 10px;
	    position: absolute;
		width: 100%;
    	bottom: 0;

    	span[price] {
    		font-weight: 700;
    		color: #00acee;
    		font-size: 24px;
    	}

    	span[currency] {
    		font-size: 12px;
    		color: #888;
    		margin: 0 -3px;
		    font-style: italic;
    	}
    }
}

@media screen and (max-width: 920px) {
    .product-tile {
        width: calc(100% - 20px);
    }
}