<div class="product-detail">
	<section class="product-hero">
		<small class="ion-android-arrow-back" (click)="back()">voltar</small>
		<img [attr.src]="product.image">
		<h2>{{product.name}}</h2>
	</section>
	<section class="product-info">
		<div class="col-md-12">
			<div class="col-md-4">
				<img [attr.src]="product.image">
			</div>
			<div class="col-md-8">
				<h3>{{product.name}}</h3>
				<p><strong>{{product.price}}</strong> <small>reais</small></p>
				<button>Adicionar ao Carrinho</button>
			</div>
		</div>
	</section>
</div>