.product-detail {
	width:100%;
	padding: 60px 0 0 0;

	.product-hero {
		overflow: hidden;
	    position: relative;
	    height: 250px;

	    small {
    	    position: absolute;
		    z-index: 3;
		    color: #fff;
		    font-family: "Raleway", sans-serif;
		    font-weight: 400;
		    font-size: 17px;
		    font-style: italic;
		    margin: 7px 20px;
		    cursor: pointer;

		    &:before {
		    	float: left;
			    margin: 2px 5px;
			    font-size: 23px;
		    }
	    }

		img{
		    width: 100%;
		    position: absolute;
		    z-index: 0;
		    margin: -50% 0 0 0;
		}

		h2 {
		    z-index: 1;
		    position: relative;
		    width: 100%;
		    line-height: 250px;
		    text-align: center;
		    background: rgba(96, 51, 142, 0.7);
		    color: #fff;
		    font-family: "Raleway", sans-serif;
    		font-weight: 700;
		    font-size: 36px;
		}
	}

	.product-info {
		max-width: 1000px;
		width: 100%;
		margin: 25px auto;
		overflow: hidden;

		h3 {
			font-family: "Raleway", sans-serif;
    		font-weight: 700;
    		font-size: 28px;
		}

		p{
		    font-family: "Raleway", sans-serif;
		    font-weight: 700;
		    font-size: 28px;
		    color: #54217c;

		    small {
		    	font-style: italic;
			    font-size: 19px;
			    color: #333;
			    margin: 0 0 0 -5px;
		    }
		}
	}
}