<section id="mainHero">
	<div>
		<h3>Product Listing</h3>
	</div>
	<section id="search">
		<input type="text" placeholder="Ex: Geladeira, Jogo de Panelas, Batedeira..." id="searchBox" [(ngModel)]="search" (ngModelChange)="doSearch($event)">
		<button (click)="forceSearch()" class="search ion-ios-search"></button>
		<br />
		<small>Busque no seu catálogo pelo nome do produto</small>
	</section>
</section>
<section id="results"> 
	<div *ngFor="let product of products" class="item product-tile">
		<img src="{{product.image}}">
		<a [routerLink]="['/p', product._id]">{{product.name}}</a>
		<div class="price">
			<span price>{{product.price}}</span>
			<span currency>reais</span>
		</div>
	</div>
	<div class="loadMore pd-20"> 
		<button class="center" (click)="loadMore()">Carregar mais ofertas ...</button>
	</div>
</section>
