$mainhero-color: #60338e;

#mainHero {
	background: $mainhero-color;
    text-align: center;
    min-height: 55vh;
    width: 100%;
    padding: 80px 20px 20px 20px;

    > div {
    	color:#fff;
    	padding: 50px 0;

    	h3 {
    		font-size: 42px;
    		margin: 40px 0 0 0;
    		font-family: "Raleway", sans-serif;
    		font-weight: 700;
    	}

    }

    > section {
    	input {
    		max-width: 500px;
		    width: 80%;
		    border: none;
		    padding: 13px 70px 13px 16px;
		    color: #333;
		    font-size: 18px;
		    letter-spacing: -1px;
		    display: inline-block;
    	}

    	small {
    		font-size: 16px;
    		font-weight: lighter;
		    margin: 5px 0 0 0;
		    color: rgba(255,255,255,.9);
		    font-style: italic;
    	}
    }
}

#results {
	width: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .section-header {
    	position: relative;

    	&:after {
		    content: '';
		    width: 100%;
		    height: 2px;
		    background: rgba(50,50,50,.3);
		    position: absolute;
		    top: calc(50% - -1px);
		    left: 0;
    	}

    	h3 {
		    font-size: 32px;
		    margin: 20px 0;
		    font-family: "Raleway", sans-serif;
		    font-weight: 700;
		    letter-spacing: -1px;
		    background: #fff;
		    display: inline-block;
		    padding: 0 10px 0 10px;
		    margin: 20px 0 20px 20px;
		    z-index: 1;
        position: relative;
    	}
    }
}

@media screen and (max-width: 920px) {
  #mainHero {

    > div {
      padding: 25px 0 70px 0;

      h3 {
        font-size: 38px;
      }
    }

    > section {
      
      input {
        width: calc(100% - 5px);
      }
    }
  }

}